<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Emi_Calculator</h2>

              <form action="emi" [formGroup]="emiReg" (ngSubmit)="createEmiData()">

                <div class="form-outline mb-4">
                  <input type="text" formControlName="emiId"  />
                  <label class="form-label" for="emiId">EmiID</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" formControlName="principal"  />
                  <label class="form-label" for="principal">Principal_Amount</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" formControlName="annualInterestRate" />
                  <label class="form-label" for="annualInterestRate">Annual_Interest_Rate</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" formControlName="tenureInMonths"  />
                  <label class="form-label" for="tenureInMonths">Teenure_Year</label>
                </div>

               

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Calculate</button>
                </div>

               

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>