
<div class="container" style="height: 500px; width:500px ;">
    <div class="row align-items-start">
      <div align="center">
        <button align="center">Address_Details</button> 
       <button> 1st Floor Above Rupam Sweets,
        Priyanka Collections Building, 
        Near Karvenagar Stop,
           Karvenagar, Pune-52.</button>
      </div>
     
    </div>
    <div class="row align-items-center">
      <div class="col">
        
      </div>
    </div>
    <div class="row align-items-end">
      <div align="center">
        <button align="center" >Contact-No</button>
       

            <div>
                <p>7895689569</p>
            <p>7989568956</p>
            </div>
   
       
      </div>
     
    </div>
  </div>
