<div class="container" style="height: 500px; width:500px ;">
    <div class="row align-items-start">
      <div align="center">
        <button align="center">Our Mission</button>
        <button> 
            To provide candidates with knowledge that is at-par with the IT industry, but also in a pocket friendly way so that everyone can take benefit of our courses.


            To provide training to candidates in various technologies by experts who have real-time industry knowledge so that candidates can start their career and be in sync with the industry.
        
        
         To bridge the gap between the corporate sector and candidates.
        
        To provide corporate trainings to the companies as per their requirements.
        </button>
      </div>
      </div>
</div>