<div class="wrapper">
  <div class="top_nav">
      <div class="left">
          <div class="logo">
              <p><span>Quick_Car_Loan</span></p>
          </div>
      </div>
      
          <!-- <div>
          <button class="btn" (click)="log()">Login</button>
      </div> -->
      
    </div>
    <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
       
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
  
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn btn-danger" routerLink="about">About_US</button>
                </li>
                
                <li class="nav-item">
                    <button class="btn btn-danger ms-3" routerLink="location">Location</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger ms-3" routerLink="contact">Contact_Us</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger ms-3" routerLink="enquiry">Enquiry</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger ms-3" routerLink="emi">EMIcalculator</button>
                </li>
                
            </ul>
            <!-- Left links -->
            <!-- <a class="navbar-brand mt-5 mt-lg-2 text-center" >
                <h3 class="pt-1 text-center">Quick_Car_Loan</h3>
            </a> -->
            <!-- Right elements -->
            <div class="d-flex align-items-center justify-content-start">
                <!-- Icon -->
               
  
                <!-- Notifications -->
                <div >
                   
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button class="btn btn-primary ms-3" routerLink="log">Login</button>
                        </li>  
                    </ul>
                </div>
                <!-- Avatar -->
               
            </div>
            <!-- Right elements -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  
  <div style="height: 200px;">
    <img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202301/thar-new-1200-sixteen_nine.jpg?size=1200:675" alt="logo" height="356px" width="100%"/>
  </div>
  
  <!-- Footer -->
  <footer class="bg-danger text-center text-white fixed-bottom text-center">
    <!-- Grid container -->
    <div class="container p-2 pb-2">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/twi?lang=en" role="button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.co.in/" role="button"><i class="fa fa-google" aria-hidden="true"></i></a>
  
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://in.linkedin.com/" role="button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://google.com/">quickcarloan.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  

 


  