<app-home-header></app-home-header>

<!-- <marquee behavior="alternate" direction="left-to-right" width="100%" class="container" scrollamount="20" vspace="20%"
    hspace="20%">

    <div>
        <div class="marquee">
            <div class="marquee-content">
                <div class="marquee-item">
                    <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/few_off/sian-fkp-37/2022/06_20/gallery/sian_05_m.jpg"
                        height="50%" width="50%">

                    <img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202301/thar-new-1200-sixteen_nine.jpg?size=1200:675"
                        height="48%" width="42%">


                    <img src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Tata/Nexon/9977/1683047876204/front-left-side-47.jpg"
                        height="36%" width="36%">


                </div>
            </div>
        </div>
    </div>
</marquee> -->


<div class="header">
    <div id="imgcontainer">
        <router-outlet></router-outlet>
    </div>
   
    <marquee class="container">
      <h1>Start_Living_Your_Best_Life_Now</h1>
   
    
</marquee>
  </div>
